streamlit
loguru
#
nest-asyncio
#
openai
ollama
qdrant-client
langchain_core
langgraph
langchain_qdrant
langchain_openai
langchain_ollama
langchain_anthropic
langchain_google-genai
#
streamlit_js_eval
markitdown[all]
mcp
langchain-mcp-adapters
langchain_community
#
pandas
